@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Anek Telugu', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.downSons *:hover {
  transform: scale(0.95) !;
}

.mainProjects {
  animation-name: fakeLoading;
  animation-iteration-count: 1;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.paddingClamp {
  padding-inline: max(0px, 2.5vw);
  

}

@keyframes fakeLoading {
  0% {
    opacity: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

.projectBox:hover,
.mainProjects:hover {
  transform: scale(1.02) !important;
  transition-duration: 0.2s !important;
}
