@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Anek Telugu', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.project-main {
  animation-name: fakeLoading;
  animation-iteration-count: 1;
  animation-duration: 1s;
  background-color: rgb(255, 255, 255);
}

.project-main:hover {
  background-color: rgb(44, 44, 44);
  transform: scale(1.01);
  transition-duration: 1s;
}

@keyframes fakeLoading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}


.projectBox:hover {
transform: scale(1.03) !important;
}



