.menu-after {
    /* color: royalblue; */
    font-size: 18px;
    display: flex;
    list-style: none;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
}
.menu-after > li:hover > *{
    color: #2c3fbe;
    transition-duration: 0.5s;
}


