.motherDiv::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.bottomBtn {
  background: rgba(231, 231, 231, 0.15);
  border-radius: 0 0 1.5rem 1.5rem;

}

.motherDiv:hover > .bottomBtn {
  background-color: rgba(106, 171, 57, 0.589);
  border-radius: 0 0 1.5rem 1.5rem;
 
}
