.menu-after {
    /* color: royalblue; */
    width: 420px;
    height: 40px;
    backdrop-filter: blur(15px) !important;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
}

.navWidth  {
    width: 99%;
}

.btn-navbar2:hover {
    border-color: yellowgreen;
    background-color: rgba(153, 205, 50, 0.105);
}



